html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: white;
  color: #111;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.4s ease;
  z-index: 1000;
}

.navbar.scrolled {
  background: white;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

.logo {
  font-weight: 800;
  color: #b30000;
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.navbar.scrolled a {
  color: black;
}

.navbar a:hover {
  color: #b30000;
}

/* HERO */
.hero {
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  color: #b30000;
  text-shadow: 0 0 20px rgba(179,0,0,0.7);
}

.hero p {
  margin: 20px 0;
  font-size: 1.2rem;
}

.cta-btn {
  padding: 12px 30px;
  background: #b30000;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  background: white;
  color: #b30000;
  box-shadow: 0 0 20px rgba(179,0,0,0.7);
}

/* SECTIONS */
section {
  padding: 120px 8%;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: 1s ease;
}

section.show {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  font-size: 2.5rem;
  color: #b30000;
  margin-bottom: 40px;
}

/* SERVICES */
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  padding: 40px;
  border: 1px solid #eee;
  transition: 0.3s;
}

.card:hover {
  background: black;
  color: white;
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(179,0,0,0.6);
}

/* PORTFOLIO */
.portfolio {
  background: black;
  color: white;
}

.portfolio h2 {
  color: #b30000;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.portfolio-item {
  background: #111;
  padding: 60px;
  transition: 0.3s;
}

.portfolio-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(179,0,0,0.7);
}
