<div class="topbar">

<div class="topbar-left">

<span>📱 7411984925</span>

<span>✉ nexaawebofficial@gmail.com</span>

</div>

<div class="topbar-right">

<a href="https://www.linkedin.com/in/saher-fatehmohammed-a61079337/" target="_blank">LinkedIn</a>

<a href="https://instagram.com/nexaaweb" target="_blank">Instagram</a>

</div>

</div>



<header class="site-header">

<div class="nav-container">

<div class="logo">NEXAAWEB</div>

<nav>

<ul class="nav-menu">

<li><a href="index.html">Home</a></li>

<li><a href="about.html">About</a></li>


<li class="dropdown">

<a href="services.html">Services ▼</a>

<ul class="dropdown-menu">

<li><a href="web-design.html">Web Design & Development</a></li>

<li><a href="branding.html">Branding & Creative Design</a></li>

<li><a href="consulting.html">Consulting & Strategy</a></li>

</ul>

</li>


<li><a href="portfolio.html">Portfolio</a></li>

<li><a href="contact.html">Contact</a></li>

</ul>

</nav>

</div>

</header>
