/* SECTION 1: BLOG HERO */

.blog-hero{
background:#F4F4F4;
padding:100px 20px;
text-align:center;
}

.blog-hero h5{
color:#B92425;
letter-spacing:2px;
margin-bottom:10px;
}

.blog-hero h1{
font-size:42px;
margin-bottom:20px;
}

.blog-hero p{
max-width:700px;
margin:auto;
color:#666666;
margin-bottom:40px;
}

/* TEXT COLORS */

.red{
color:#B92425;
}

.black{
color:#000;
}

/* SEARCH BOX */

.search-box{
display:flex;
justify-content:center;
align-items:center;
gap:10px;
}

.search-box input{
width:300px;
padding:12px 20px;
border:none;
border-radius:30px;
outline:none;
font-size:14px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.search-box button{
background:#B92425;
color:#fff;
border:none;
padding:12px 18px;
border-radius:50%;
cursor:pointer;
transition:0.3s;
}

.search-box button:hover{
background:#D21F2B;
transform:scale(1.1);
}

/* RESPONSIVE */

@media(max-width:600px){

.blog-hero h1{
font-size:28px;
}

.search-box{
flex-direction:column;
}

.search-box input{
width:100%;
}

}
