*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f4f6f8;
color:#222;
line-height:1.6;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:white;
position:sticky;
top:0;
}

.logo{
font-size:28px;
font-weight:700;
color:#c4161c;
}

.nav-links{
list-style:none;
display:flex;
gap:28px;
}

.nav-links a{
text-decoration:none;
color:#000;
font-weight:500;
transition:0.3s;
}

.nav-links a:hover{
color:#c4161c;
}

/* HERO */

.hero{
height:100vh;

background:
linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),
url("https://i.pinimg.com/736x/11/d3/e6/11d3e646686d55ba13b55a6539dccfc0.jpg");

background-size:cover;
background-position:right;

display:flex;
align-items:center;
padding:0 8%;
color:white;
}

.hero h1{
font-size:54px;
margin-bottom:20px;
}

.hero p{
font-size:18px;
margin-bottom:30px;
}

.hero-btn{
background:#c4161c;
padding:14px 34px;
color:white;
border-radius:6px;
font-weight:600;
text-decoration:none;
}

/* SERVICES */

.services{
padding:100px 8%;
text-align:center;
background:white;
}

.services h2{
font-size:36px;
margin-bottom:10px;
}

.services-sub{
color:#666;
margin-bottom:50px;
}

.services-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
}

.service-card{
background:white;
border-radius:12px;
padding:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
transition:0.4s;
}

.service-card:hover{
transform:translateY(-10px);
box-shadow:0 20px 50px rgba(0,0,0,0.15);
}

.service-card img{
width:100%;
height:180px;
object-fit:cover;
border-radius:8px;
margin-bottom:15px;
}

.service-card h3{
color:#c4161c;
margin-bottom:10px;
}

/* PORTFOLIO */

.portfolio{
background:#f5f5f5;
padding:100px 8%;
text-align:center;
}

.projects{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.project img{
width:100%;
border-radius:8px;
}

/* CTA */

.cta{
background:#c4161c;
color:white;
text-align:center;
padding:100px 8%;
}

.form-box{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
margin-top:25px;
}

.form-box input,
.form-box textarea{
padding:12px;
border:none;
border-radius:6px;
}

.btn{
background:black;
color:white;
padding:14px;
border:none;
border-radius:6px;
cursor:pointer;
}

/* FOOTER */

footer{
background:#111;
color:white;
padding:70px 8%;
}

.footer-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:35px;
}

footer a{
color:white;
text-decoration:none;
}

footer a:hover{
color:#ff4d4d;
}

.copyright{
text-align:center;
margin-top:40px;
border-top:1px solid rgba(255,255,255,0.2);
padding-top:20px;
}
